body {
    background:#265E4B;
    font-family:Arial, Helvetica, sans-serif;

}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom:30px;
    background: #EEEEEE;
    border-radius:5px;
    box-shadow: 5px 8px #B4D1D7;
}

.assignment img {
    width:250px;
    border:2px solid #3F9F7FFF;
    margin-right:20px;
    border-radius:5px;
}

h1 {
    color: #B4D1D7;
    text-align: center;
}

a {
    text-decoration:none;
    color: #3F9F7F;
}

.assignment a:hover {
    color:#B4D1D7;
}